p {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: aquamarine;
}

button {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: rgb(184, 147, 219);
    border-radius: 15px;

}